<section class="section catalog">
  <div class="container">
    <section>
    <h2>Catalog</h2>
    <ul class="clocs">
      <li class="li-clocs">
         <img src="" alt="">
         <h5>Garmin Fenix 7X Pro Sapphire Solar</h5>
         <h6>€500</h6>
      </li>

      <li class="li-clocs">
        <img src="" alt="">
        <h5>Garmin Marq Athlete</h5>
        <h6>€450</h6>
      </li>

      <li class="li-clocs">
        <img src="" alt="">
        <h5>Garmin Descent MK1</h5>
        <h6>€680</h6>
      </li>

         <li class="li-clocs">
           <img src="" alt="">
           <h5>Garmin D2 Delta PX</h5>
           <h6>€380</h6>
         </li>

         
         <li class="li-clocs">
           <img src="" alt="">
            <h5>Garmin Fenix 6 Pro Solar</h5>
            <h6>€400</h6>
         </li>

           <li class="li-clocs">
               <img src="" alt="">
               <h5>Tube Watch S42 Date Steel With Black Case</h5>
               <h6>€395</h6>
           </li>
    </ul>
</section>
<section class="button-clock">

<h2>Choose <span>your story</span> , making every moment unique. Time is your style, and we reveal it.</h2>
<button>Contact Us</button>


</section>

  </div>
</section>
