<section class="section hero">
  <div class="container">
    <div class="hero-main-container">
      <div class="hero-text-container">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-span">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-positioned-container">
        <ul class="hero-positioned-images-list">
          <li class="hero-positioned-item">
            <img
              srcset="
                ../img/hero-people-1_1x.png 1x,
                ../img/hero-people-1_2x.png 2x
              "
              src="../img/hero-people-1_1x.png"
              alt=""
              class="hero-positioned-image"
            />
          </li>
          <li class="hero-positioned-item">
            <img
              srcset="
                ../img/hero-people-2_1x.png 1x,
                ../img/hero-people-2_2x.png 2x
              "
              src="../img/hero-people-2_1x.png"
              alt=""
              class="hero-positioned-image"
            />
          </li>
          <li class="hero-positioned-item">
            <img
              srcset="
                ../img/hero-people-3_1x.png 1x,
                ../img/hero-people-3_2x.png 2x
              "
              src="../img/hero-people-3_1x.png"
              alt=""
              class="hero-positioned-image"
            />
          </li>
        </ul>
        <a href="#about-us" class="hero-scroll-link">Scrol down</a>
      </div>
    </div>
    <div class="hero-image-container">
      <img
        srcset="
          ../img/hero-wristwatch_1x.jpg 1x,
          ../img/hero-wristwatch_2x.jpg 2x
        "
        src="../img/hero-wristwatch_1x.jpg"
        alt=""
        class="hero-image"
      />
    </div>
  </div>
</section>
