@font-face {
  font-family: 'Gilroy';
  src: url('/src/fonts/gilroy-regular-font.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('/src/fonts/gilroy-regular-font.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/gilroy-regular-font.woff2') format('woff2'),
    url('/src/fonts/gilroy-regular-font.woff') format('woff'),
    url('/src/fonts/gilroy-regular-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/fonts/gilroy-bold-font.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('/src/fonts/gilroy-bold-font.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/gilroy-bold-font.woff2') format('woff2'),
    url('/src/fonts/gilroy-bold-font.woff') format('woff'),
    url('/src/fonts/gilroy-bold-font.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/fonts/gilroy-semibold-font.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('/src/fonts/gilroy-semibold-font.eot?#iefix')
      format('embedded-opentype'),
    url('/src/fonts/gilroy-semibold-font.woff2') format('woff2'),
    url('/src/fonts/gilroy-semibold-font.woff') format('woff'),
    url('/src/fonts/gilroy-semibold-font.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/fonts/gilroy-medium-font.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('/src/fonts/gilroy-medium-font.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/gilroy-medium-font.woff2') format('woff2'),
    url('/src/fonts/gilroy-medium-font.woff') format('woff'),
    url('/src/fonts/gilroy-medium-font.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
  letter-spacing: -0.02em;
  background-color: #fbfbfb;
}
