.section {
}
.catalog .container {
    max-width: 375px;
    min-width: 320px;
}

.container {
}
.catolog-div {

}
.text-catalog {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.catalog-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.li-catalog {
    background-color: #f3f3f3;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    padding: 24px 28px;
}

.catalog-ul .li-catalog:nth-last-child(2),
.catalog-ul .li-catalog:nth-last-child(3) {
    display: none;
}

.catalog-foto {
    margin-bottom: 28px;
}
.div-catalog {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.calalog-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}
.catalog-item-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}

.show-more-btn {
    background-color: #3350E9;
    border: none;
    border-radius: 16px;
    width: 160px;
    height: 48px;
    padding: 15px 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    text-wrap: nowrap;
    color: #f3f3f3;
    transition: opacity 250ms linear;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.show-more-btn:hover,
.show-more-btn:focus {
    background: #1f3cd4;
}


@media screen and (min-width: 768px) {
    .catalog .container {
        max-width: 768px;
    }

    .text-catalog {
        font-size: 48px;
        line-height: 0.92;
        margin-bottom: 40px;
    }

    .catalog-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px 16px;
    }

    .li-catalog {
        width: calc((100% - 16px)/2);
        padding: 24px 32px;
        /* height: 414px; */
    }

    .catalog-ul .li-catalog:nth-last-child(2),
.catalog-ul .li-catalog:nth-last-child(3) {
    display: block;
    }

    .catalog-foto {
        margin-bottom: 20px;
    }

    .calalog-item {    
        font-size: 20px;
        line-height: 1;
    }

    .atalog-item-price {
    }

    .show-more-btn {
        display: none;
    }

}   

@media screen and (min-width: 1280px) {
    .catalog .container {
        max-width: 1280px;
      }

    .text-catalog {
        
    }

    .catalog-ul {
        gap: 32px 23px;
    }

    .li-catalog {
        width: calc((100% - 2 * 23px) / 3);
    }


}
    

/* .section-catalog{
    padding: 120px 0 120px 0; 
    font-size: 36px; 
    line-height: 1.11; 
    letter-spacing: 0.02em;  
}

.catolog-div{
    border-top: none ; 
   width: 1158px; 
    margin: 0 auto ; 
    padding: 0 15px; 
    padding-left: 15px; 
    padding-right: 15px; 
     align-items: baseline; 
    max-width: 320px; 
     margin: 0 auto; 
     padding: 0 16px; 
}

.text-cotalog{
    margin-bottom: 72px;    
    font-size: 36px; 
    line-height: 1.11; 
    text-align: center;  
    letter-spacing: 0.02em; 
    text-transform: capitalize; 
    color:#2e2f42; 
}

.catalog-ul{
    padding-left: 0;     
    margin: 0%; 
    list-style: none;
}


.li-catolog{
    padding-left: 0 ;     
    margin: 0 ;    
         width: calc((100% - 48px) / 3) ;    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
     transform: translateY(0%);  
}

.cotalog-foto{
    position: relative; 
    overflow: hidden;  
}

.div-cotalog{
    border: 1px solid #e7e9fc;  
    border-top: none; 
    padding: 32px 16px;   
}

.portfolio-list{
    margin-bottom: 8px;    
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color:#2e2f42 ; 
}


.portfolio-text{
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color:#434455 ; 
    transform: translateY(0%); 
}


.catalog-btn{
    border-radius: 16px;
width: 160px;
height: 48px;
    background: #3350e9;
}


@media screen and (min-width: 768px) {
 
.catolog-div{
    min-width: 768px; 
} 
  

.catalog-ul{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
padding: 5px; 
border-radius: 50px 5px 5px 5px; 
position: relative; 
gap: 72px 24px;
list-style: none;
}


.li-catolog{
    width: calc((100% - 24px) / 2); 
}
}



@media screen and (min-width: 1158px) {

.catolog-div{
    max-width: 1158px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 0 15px;   
}

.catalog-ul{
    padding-left: 0;     
    margin: 0%; 
    display: flex; 
    flex-wrap: wrap;  
    column-gap: 24px; 
    row-gap: 48px;}


.li-catolog{
    width: calc((100% - 48px) / 3);  
}

} */






