.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    gap: 28px;
}

@media screen and (min-width: 768px) {
    .hero .container{
    width: 768px;
    }
}

/* Text container */

.hero-main-container{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.hero-title{
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 20px;
}
.hero-title-span{
    color: #3350e9;
}

.hero-text{
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

@media screen and (min-width: 768px) {
    .hero-main-container {
            flex-direction: row;
            justify-content: space-between;
    }
    .hero-text-container{
        width: 557px;
    }
}

/* Positioned container */

.hero-positioned-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;
}

.hero-positioned-images-list{
    display: flex;
}

.hero-positioned-item{
    position: relative;
    border-radius: 50%;
    border: 2px solid #FbFbFb;
    width: 44px;
    height: 44px;
    z-index: 997;
}

.hero-positioned-item:nth-child(2){
    left: -12px;
    overflow: none;
    z-index: 998;
}

.hero-positioned-item:nth-child(3){
    left: -24px;
    overflow: none;
    z-index: 999;
}

.hero-positioned-item>img{
    width: 100%;
    height: 100%;
}

.hero-scroll-link{
    align-self: flex-end;
    text-decoration: underline;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
}

.hero-scroll-link:hover, .hero-scroll-link:focus{
    color: #3350e9;
}

@media screen and (min-width: 768px) {
    .hero-positioned-container{
        flex-direction: column;
    }
}

/* image */

.hero-image-container{
    width: 100%;
}